*{
	margin:0;
	padding:0;
	text-decoration: none;
	
}
header{
height:100vh;
background-size: cover;
background-position: center;
}
ul{
	float:right;
	list-style-type:none;
	margin-top: 2.5%;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none; 
	color: White;
	padding: 6px 20px;
	border: 1px solid;
	transition: 0.4s ease;
	background-color: black;
}
ul li a:hover{
background-color: green;
}
.logo img{
	float: left;
	width: 84px;
	height: auto;
}
.main{
	max-width: 1450px;
	margin: 0;
}
 body{
	 background-size:2800px 76px;
	background-repeat: no-repeat;	
	margin: 0 auto;
	background-color: Grey;
}
.Spiti {
	position: absolute;
	top: 28%;
	color: white;
	background-color: black;
	font-size: 28;

}
.slider {
	
	overflow: hidden;
	height: 50%;
	padding: 10%;
	left: 50%;
	top: 50%;
	transform: translate(25%,20%);	
}
.slider figure div{
	float: left;
	width: 20%;
}
.slider figure img {
width: 100%;
	float: left;
}
.slider figure {

	position:absolute;
	width: 500%;
	margin: 0px;
	left:0;
	animation: 20s tourism infinite linear;
}
@keyframes tourism {
	0%{
		left: 0%;
	}
	10%{
				left: 0%;
	}
	12%{
				left: -100%;
	}
	22%{
				left: -100%;
	}
	24%{
				left: -200%;
	}
	34%{
				left: -200%;
	}
	36%{
		left: -300%;
	}
	46%{
				left: -300%;
	}
	48%{
				left: -400%;
	}
	58%{
				left: -400%;
	}
	60%{
				left: -300%;
	}
	70%{
				left: -300%;
	}
	82%{
				left: -200%;
	}
	84%{
				left: -100%;
	}
	94%{
				left: -100%;
	}
	96%{
				left: 0%;
	}
}
.place {
	position: absolute;
	top: 18%;
	color: white;
	background-color: black;
	font-size: 40;
left: 30%;
}
.lake{
	position: absolute;
	top: 98%;
	color: white;
	font-size: 17px;
}
.about_Spiti {
	position: absolute;
	top: 98%;
left: 25%;
color: white;
font-family: cambria;
font-size: 21px;
font-style: italic;
}
.Spi{
	position: absolute;
	top: 111%;
	color: white;
	font-size: 28;
	background-color: black;
}
.iti {
		position: absolute;
	top: 116%;
color: white;
font-family: cambria;
font-size: 20px;
font-style: italic;
}
.Spiti_map{
	position: absolute;
	top: 124%;
	color: white;
	font-size: 28;
	background-color: black;
}
.Image1 {
	position: absolute;
		top: 135%; 
}

.Chandratal {
		position: absolute;
	top: 205%;
	color: white;
	background-color: black;
	font-size: 28;
}
.slider1 {
	
	overflow: hidden;
		position:absolute;

height: 40%;
padding:30%;
 transform: translate(33%,38%);	
}
.slider1 figure div{
	float: left;
	width: 20%;
}
.slider1 figure img {
width: 100%;
	float: left;
}
.slider1 figure {

	position:absolute;
	width: 500%;
	margin: 0px;
	left: 0;
	animation: 20s tourism infinite linear;
}
@keyframes tourism {
	0%{
		left: 0%;
	}
	10%{
				left: 0%;
	}
	12%{
				left: -100%;
	}
	22%{
				left: -100%;
	}
	24%{
				left: -200%;
	}
	34%{
				left: -200%;
	}
	36%{
		left: -300%;
	}
	46%{
				left: -300%;
	}
	48%{
				left: -400%;
	}
	58%{
				left: -400%;
	}
	60%{
				left: -300%;
	}
	70%{
				left: -300%;
	}
	82%{
				left: -200%;
	}
	84%{
				left: -100%;
	}
	94%{
				left: -100%;
	}
	96%{
				left: 0%;
	}
}

.About_Chandratal {
position: absolute;
	top: 277%;
	color: white;
	font-size: 19px;
}
.Chandratal_Lake {
position: absolute;
	top: 277%;
left: 25%;
color: white;
font-family: cambria;
font-size: 19px;
font-style: italic;
}
.Chand {
	position: absolute;
	top: 292%;
	color: white;
	font-size: 28;
	background-color: black;
}
.Ratal{
		position: absolute;
	top: 297%;
color: white;
font-family: cambria;
font-size: 20px;
font-style: italic;
}
.Map2 {
	position: absolute;
	top: 309%;
	color: white;
	font-size: 28;
	background-color: black;
}
.Image2 {
	position: absolute;
		top: 320%; 
}

.Bara-lacha_la {
		position: absolute;
	top: 390%;
	color: white;
	background-color: black;
	font-size: 28;
}

.slider2 {
	overflow: hidden;
		position:absolute;
height: 40%;
padding:30%;
 transform: translate(33%,150%);	
}
.slider2 figure div{
	float: left;
	width: 20%;
}
.slider2 figure img {
width: 100%;
	float: left;
}
.slider2 figure {

	position:absolute;

	width: 500%;
	margin: 0px;
	left: 0;
	animation: 20s tourism infinite linear;
}
@keyframes tourism {
	0%{
		left: 0%;
	}
	10%{
				left: 0%;
	}
	12%{
				left: -100%;
	}
	22%{
				left: -100%;
	}
	24%{
				left: -200%;
	}
	34%{
				left: -200%;
	}
	36%{
		left: -300%;
	}
	46%{
				left: -300%;
	}
	48%{
				left: -400%;
	}
	58%{
				left: -400%;
	}
	60%{
				left: -300%;
	}
	70%{
				left: -300%;
	}
	82%{
				left: -200%;
	}
	84%{
				left: -100%;
	}
	94%{
				left: -100%;
	}
	96%{
				left: 0%;
	}
}
.about1 {
	position: absolute;
	top: 462%;
	color: white;
	font-size: 20px;
}
.Bara {
		position: absolute;
	top: 462%;
left: 25%;
color: white;
font-family: cambria;
font-size: 19px;
font-style: italic;
}
.al{
			position: absolute;
	top: 477%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Lacha {
position: absolute;
	top: 482%;
color: white;
font-family: cambria;
font-size: 20px;
font-style: italic;	
}
.Map3 {
		position: absolute;
	top: 490%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Image3 {
	position: absolute;
		top: 501%;
}

.Pin_valley {
			position: absolute;
	top: 571%;
	color: white;
	background-color: black;
	font-size: 28;
}
.slider3 {
	overflow: hidden;
		position:absolute;
height: 40%;
padding:30%;
 transform: translate(33%,260%);	
}
.slider3 figure div{
	float: left;
	width: 20%;
}
.slider3 figure img {
width: 100%;
	float: left;
}
.slider3 figure {

	position:absolute;

	width: 500%;
	margin: 0px;
	left: 0;
	animation: 20s tourism infinite linear;
}
@keyframes tourism {
	0%{
		left: 0%;
	}
	10%{
				left: 0%;
	}
	12%{
				left: -100%;
	}
	22%{
				left: -100%;
	}
	24%{
				left: -200%;
	}
	34%{
				left: -200%;
	}
	36%{
		left: -300%;
	}
	46%{
				left: -300%;
	}
	48%{
				left: -400%;
	}
	58%{
				left: -400%;
	}
	60%{
				left: -300%;
	}
	70%{
				left: -300%;
	}
	82%{
				left: -200%;
	}
	84%{
				left: -100%;
	}
	94%{
				left: -100%;
	}
	96%{
				left: 0%;
	}
}
.About_Pin {
position: absolute;
	top: 645%;
	color: white;
	font-size: 22px;
}
	.Pin_Valley_National {
	position: absolute;
	top: 645%;
left: 25%;
color: white;
font-family: cambria;
font-size: 18px;
font-style: italic;
	}
	.National_Park {
			position: absolute;
	top: 662%;
	color: white;
	background-color: black;
	font-size: 28;
	}
	.reach {
	position: absolute;
	top: 667%;
color: white;
font-family: cambria;
font-size: 19px;
font-style: italic;
	}
	.Map4 {
				position: absolute;
	top: 675%;
	color: white;
	background-color: black;
	font-size: 28;
	}
	.Image4 {
	position: absolute;
		top: 686%;
}
.Kunzum_Pass {
		position: absolute;
	top: 756%;
	color: white;
	background-color: black;
	font-size: 28;
	}
	.slider4 {
	overflow: hidden;
		position:absolute;
height: 40%;
padding:30%;
 transform: translate(33%,373%);	
}
.slider4 figure div{
	float: left;
	width: 20%;
}
.slider4 figure img {
width: 100%;
	float: left;
}
.slider4 figure {

	position:absolute;

	width: 500%;
	margin: 0px;
	left: 20%;
	animation: 20s tourism infinite linear;
}
@keyframes tourism {
	0%{
		left: 0%;
	}
	10%{
				left: 0%;
	}
	12%{
				left: -100%;
	}
	22%{
				left: -100%;
	}
	24%{
				left: -200%;
	}
	34%{
				left: -200%;
	}
	36%{
		left: -300%;
	}
	46%{
				left: -300%;
	}
	48%{
				left: -400%;
	}
	58%{
				left: -400%;
	}
	60%{
				left: -300%;
	}
	70%{
				left: -300%;
	}
	82%{
				left: -200%;
	}
	84%{
				left: -100%;
	}
	94%{
				left: -100%;
	}
	96%{
				left: 0%;
	}
}
.About4 {
	position: absolute;
	top: 830%;
	color: white;
	font-size: 19px;
}
.Kunzum {
			position: absolute;
	top: 830%;
	left: 26%;
color: white;
font-family: cambria;
font-size: 18px;
font-style: italic;
}
.how {
			position: absolute;
	top: 838%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Reach1 {
	position: absolute;
	top: 843%;
color: white;
font-family: cambria;
font-size: 20px;
font-style: italic;
}
.Map5 {
	position: absolute;
	top: 851%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Image5 {
position: absolute;
		top: 862%;
}
.Su_r_aj_Tal {
position: absolute;
	top: 932%;
	color: white;
	background-color: black;
	font-size: 28;
	}
.slider5 {
	overflow: hidden;
		position:absolute;

height: 40%;
padding:30%;
 transform: translate(33%,478%);	
}
.slider5 figure div{
	float: left;
	width: 20%;
}
.slider5 figure img {
width: 100%;
	float: left;
}
.slider5 figure {
	position:absolute;
	width: 500%;
	margin: 0px;
	left: 20%;
	animation: 20s tourism infinite linear;
}
@keyframes tourism {
	0%{
		left: 0%;
	}
	10%{
				left: 0%;
	}
	12%{
				left: -100%;
	}
	22%{
				left: -100%;
	}
	24%{
				left: -200%;
	}
	34%{
				left: -200%;
	}
	36%{
		left: -300%;
	}
	46%{
				left: -300%;
	}
	48%{
				left: -400%;
	}
	58%{
				left: -400%;
	}
	60%{
				left: -300%;
	}
	70%{
				left: -300%;
	}
	82%{
				left: -200%;
	}
	84%{
				left: -100%;
	}
	94%{
				left: -100%;
	}
	96%{
				left: 0%;
	}
}
.About_Suraj {
position: absolute;
	top: 1002%;
	color: white;
	font-size: 21px;
}
.Suraj_Tal {
		position: absolute;
	top: 1002%;
left: 25%;
color: white;
font-family: cambria;
font-size: 19px;
font-style: italic;
}
.how2 {
				position: absolute;
	top: 1018%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Reach2 {
			position: absolute;
	top: 1023%;
color: white;
font-family: cambria;
font-size: 19px;
font-style: italic;
}
.Map6 {
		position: absolute;
	top: 1031%;
	color: white;
	background-color: black;
	font-size: 28;
}
	.Image6 {
	position: absolute;
		top: 1042%;
}

.Indrasan {
				position: absolute;
	top: 1112%;
	color: white;
	background-color: black;
	font-size: 28;
}
.slider6 {
 overflow: hidden;
position:absolute;
height: 40%;
padding:30%;
 transform: translate(33%,588%);	
}
.slider6 figure div{
	float: left;
	width: 20%;
}
.slider6 figure img {
width: 100%;
	float: left;
}
.slider6 figure {
	position:absolute;
	width: 500%;
	margin: 0px;
	left: 20%;
	animation: 20s tourism infinite linear;
}
@keyframes tourism {
	0%{
		left: 0%;
	}
	10%{
				left: 0%;
	}
	12%{
				left: -100%;
	}
	22%{
				left: -100%;
	}
	24%{
				left: -200%;
	}
	34%{
				left: -200%;
	}
	36%{
		left: -300%;
	}
	46%{
				left: -300%;
	}
	48%{
				left: -400%;
	}
	58%{
				left: -400%;
	}
	60%{
				left: -300%;
	}
	70%{
				left: -300%;
	}
	82%{
				left: -200%;
	}
	84%{
				left: -100%;
	}
	94%{
				left: -100%;
	}
	96%{
				left: 0%;
	}
}
.About_Namgyal {
position: absolute;
	top: 1185%;
	color: white;
	font-size: 17px;
}
.Indra {
		position: absolute;
	top: 1185%;
	left: 27%;
color: white;
font-family: cambria;
font-size: 18px;
font-style: italic;
}
.how3 {
			position: absolute;
	top: 1193%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Reach3 {
	position: absolute;
	top: 1198%;
color: white;
font-family: cambria;
font-size: 19px;
font-style: italic;
}
.Map7 {
	position: absolute;
	top: 1209%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Image7 {
position: absolute;
		top: 1220%;
}

.Bara_Shigri_Glacier {
			position: absolute;
	top: 1290%;
	color: white;
	background-color: black;
	font-size: 28;
}
.slider7 {
 overflow: hidden;
position:absolute;
height: 40%;
padding:30%;
 transform: translate(33%,695%);	
}
.slider7 figure div{
	float: left;
	width: 20%;
}
.slider7 figure img {
width: 100%;
	float: left;
}
.slider7 figure {
	position:absolute;
	width: 500%;
	margin: 0px;
	left: 0;
	animation: 20s tourism infinite linear;
}
@keyframes tourism {
	0%{
		left: 0%;
	}
	10%{
				left: 0%;
	}
	12%{
				left: -100%;
	}
	22%{
				left: -100%;
	}
	24%{
				left: -200%;
	}
	34%{
				left: -200%;
	}
	36%{
		left: -300%;
	}
	46%{
				left: -300%;
	}
	48%{
				left: -400%;
	}
	58%{
				left: -400%;
	}
	60%{
				left: -300%;
	}
	70%{
				left: -300%;
	}
	82%{
				left: -200%;
	}
	84%{
				left: -100%;
	}
	94%{
				left: -100%;
	}
	96%{
				left: 0%;
	}
}

.About_Bara {
position: absolute;
	top: 1360%;
	color: white;
	font-size: 18px;
}
.Bara_Shigri {
			position: absolute;
	top: 1360%;
	left: 25%;
color: white;
font-family: cambria;
font-size: 21px;
font-style: italic;
}
.how4 {
			position: absolute;
	top: 1373%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Reach4 {
		position: absolute;
	top: 1378%;
color: white;
font-family: cambria;
font-size: 19px;
font-style: italic;
}
.Map8 {
	position: absolute;
	top: 1448%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Image8 {
	position: absolute;
	top: 1459%;
}
