*{
	margin:0;
	padding:0;
	text-decoration: none;
	
}
header{
height:100vh;
background-size: cover;
background-position: center;
}
.list ul{
	float:right;
	list-style-type:none;
margin-top: -3%;
}
.list  ul li{
	display: inline-block;
}
.list ul li a{
	text-decoration: none; 
	color: White;
	padding: 6px 20px;
	border: 1px solid;
	transition: 0.4s ease;
	background-color: black;
}
.list ul li a:hover{
background-color: green;
}
.main {
	max-width: 1450px;
	margin: 0;
}
 body{
	 background-size:2800px 80px;
	background-repeat: no-repeat;	
	margin: 0 auto;
	background-color: Grey;
}

img1 {
height: 300px;
}

.cardholder {
margin-top: 150px;
perspective: 600px;
}
.card {
width: 300px;
height: 300px;
background-color: transparent;
transform: rotateY(50deg);
box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
transition: all 1s ease;
color: transparent;
}
.card:hover {
width: 300px;
height: 300px;
background-color: transparent;
transform: rotateY(0deg);
box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25);
color: black;
}
.card:hover p {
background-color: white;
}
p.desc {
z-index:999;
position: absolute;
top: 10px;
padding: 10px;
}
p.desc:hover {
}
.Kangra {
	position: absolute;
	top: 25%;
	color: white;
	background-color: black;
	font-size: 28;

}
.Bilaspur {
		position: absolute;
	top: 105%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Chamba {
		position: absolute;
	top: 186%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Hamirpur {
			position: absolute;
	top: 267%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Kinnaur {
		position: absolute;
	top: 347%;
	color: white;
	background-color: black;
	font-size: 28;
	}
	.Kullu {
position: absolute;
	top: 427%;
	color: white;
	background-color: black;
	font-size: 28;
	}
	.LahaulSpiti {
				position: absolute;
	top: 508%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Mandi {
			position: absolute;
	top: 588%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Shimla {
		position: absolute;
	top: 669%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Sirmaur {
		position: absolute;
	top: 749%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Solan {
		position: absolute;
	top: 829%;
	color: white;
	background-color: black;
	font-size: 28;
}
.Una {
		position: absolute;
	top: 910%;
	color: white;
	background-color: black;
	font-size: 28;
}
.photos {
		position: absolute;
	top: 18%;
	left:45%;
	color: white;
	background-color: black;
	font-size: 40;
}